{% extends 'base.html' %}

{% block title %}
register
{% endblock title %}

{% block content %}

<div class="container">
    <div class="row d-flex justify-content-center mt-5 pt-5">
        <div class="col-5 border p-3 shadow bg-white rounded-5">

            {% for msg in messages %}
            {% if msg.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>{{msg}}</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% else %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <strong>{{msg}}</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endif %}
            {% endfor %}

            <h1 class="text-center">Register Form</h1>
            <form action="" method="post">
                {% csrf_token %}

                {{form.as_p}}

                <button type="submit" class="btn btn-success">Register</button>
            </form>
        </div>
    </div>
</div>

{% endblock content %}